@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap');


body{
    box-sizing: border-box;
    padding: 0px;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99c24d;
    font-family: 'Roboto', sans-serif;
}

.container{
    background-color: #fcfcfc;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
}

.container .content{
    display: flex;
    flex-direction: column;
}

.email-section #email ,.password-section #pass{
    width: 250px;
    height: 32px;
    border-radius: 5px;
    border: 1px solid rgb(136, 135, 135);
    margin-top: -10px;
}

.checkbox-section{
    margin-top: 16px;
}

.container .content #btn{
    width: 250px;
    height: 35px;
    margin-top: 10px;
    background-color: #99c24d;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.error{
    color: #ff0a54;
}